html,body{
    color: #463f3a;
}
.pull-left{
	float: left;
}
.pull-right{
	float: right;
}
.pull-center{
	float: center;
}
.text-center{
    text-align: center;
}
.text-uppercase{
    text-transform: uppercase;
}
.clear{
    overflow: hidden;
}


.phone {
    margin-right: 15px;
    
}
.phone > p > img{
    width: 7px;
}
.phone > p > span{
    font-size: 14px;
}
.email {
}
.email > p > img{
}
.email > p > span{
    font-size: 14px;
}



.topbar {
    padding-top: 16px;
}
.top_menu > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.top_menu > ul > li {
    display: inline-block;
    margin-left: 15px;
}
.top_menu > ul > li > a{
    text-decoration: none;
    color: #463f3a;
    font-size: 16px;
    font-family: m500;
}
.top_menu > ul > li > a:hover{
    color: #555;
}

.header_wrapper {
   
    background-color: #f5f6f1;
    margin-bottom: 35px;
    padding: 20px 0 29px;
    
}

.header {
}

.logo {
        padding-top: 40px;
    margin-right: 215px;
}



.logo_icon {
}
.logo_icon > img{
    padding-right:25px;
    padding-top: 7px;
}
.logo_icon > img> p{
    padding-left: 50px;
    padding-top: 5px;
	margin-left:10px;
	 font-size: 12px;
}

.navigation {
        padding-top: 65px;
}
.navigation > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation > ul > li {
        display: inline-block;
    margin-left: 0px;
	
}
.navigation > ul > li > a{
        text-decoration: none;
    color: #463f3a;
    font-size: 18px;
    font-family: m500;
}
.navigation > ul > li > a:hover{
    color: #555;
}

.cart {
        padding-top: 40px;
}

.cart_text {
}
.cart_text > p{
    line-height: 1;
}
.cart_text > h5{
         line-height: 0;
         font-size: 16px;
}
.cart_icon {
}
.cart_icon > img{
    padding-left: 15px;
    padding-top: 7px;
    width: 47px;
}

.slider_wrapper >img {

}

.slider {
}

.services_wrapper {
        margin: 35px 0;
}
.services {
}
.box {
        background-color: #FF6666;
    margin-right: 30px;
    padding: 20px;
    text-align: center;
    width: 333px;
}
.box:last-child {
    background-color: #FF6666;
    margin-right: 0px;
    padding: 20px;
    text-align: center;
    width: 333px;
}
.box > h1{
    font-family: 'Oswald', sans-serif;
    line-height: 10px;
}
.box > p{
    font-family: m500;
}
.box > p > b{
    color: #FF6666;
}

.heading_white {
    background: url("../img/heading_thick_icon.png");
    font-family: 'Oswald', sans-serif;
    position: relative;
    height: 3px;
    line-height: 3px;
    margin: 35px 0;
}
.heading_white > h1{
    position: absolute;
    background-color: #fff;
    padding: 20px;
    left: 420px;
    top: -40px;
}
.heading_white > img{
    width: 100%;
    height: 1px;
}

.heading_ash {
    background: url("../images/heading_thick_icon.png");
    font-family: 'Oswald', sans-serif;
    position: relative;
    height: 3px;
    line-height: 3px;
    margin-bottom: 50px;
}
.heading_ash > h1{
    position: absolute;
    background-color: #f8f8f8;
    padding: 0px;
    left: 35%;
    top: -40px;
}
.heading_ash > img{
    width: 100%;
    height: 1px;
}

.back_ash{
    background: #f8f8f8;
}
.portfolio_one_wrapper {
    padding: 50px 0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
    margin-bottom: 20px;
}
.portfolio_one {
}
.one_wrapper {
    width: 373px;
    margin-right: 30px;
}
.one_wrapper:last-child {
    width: 373px;
    margin-right: 0px;
}
.one_wrapper > img {
    max-width: 100%;
}
.one_wrapper >.one {
        background:  white;
        padding: 5px 25px 30px;
}
.one_wrapper >.one > h1 {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding-top: 20px;
}
.one_wrapper >.one > p {
    font-family: m500;
}
.one_wrapper >.one > a {
    color:  #FF6666;
    font-family: m500;
    text-decoration: none;
}


.portfolio_two_wrapper {
        margin: 0 0 30px 0;
}
.portfolio_two {
}
.two_wrapper {
    width: 272px;
    margin-right: 30px;
}
.two_wrapper:last-child {
    width: 272px;
    margin-right: 0px;
}
.two_wrapper > img{
        max-width: 100%;
}
.two_wrapper >.two {
}
.two_wrapper >.two > p {
    font-family: m300;
}
.two_wrapper >.two > h4 {
    font-family: m500;
}
.two_wrapper >.two > a{
    text-decoration: none;
    background: #463f3a;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 25px;
}


.portfolio_three_wrapper {

        padding: 50px 0;
        border-top: 2px solid #eee;
        border-bottom: 2px solid #eee;
}
.portfolio_three {
}
.three_wrapper {
    padding-top:15px;
    padding-bottom:15px;
    margin-right: 0px;
}

.three_wrapper > .three_img> img{

        max-width: 100%;
}
.three_img{
    margin:auto;
    overflow:hidden;
   width:300px;
   height:180px;
   background:#eee;

}
.three_wrapper >.three {
    text-align:center;
}
.three_wrapper >.three > p {
    font-family: m300;
}
.three_wrapper >.three > h4 {
    font-family: m500;
}
.three_wrapper >.three > a{
    text-decoration: none;
    background: #463f3a;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 25px;
}

.three_wrapper >.three > a:hover{
    color:#999999;
}



.portfolio_four_wrapper {
        margin: 0 0 20px 0;
        padding: 50px 0;
        border-top: 2px solid #eee;
        border-bottom: 2px solid #eee;
}
.portfolio_four {
}
.four_wrapper {
    width: 272px;
    margin-right: 30px;
}
.four_wrapper:last-child {
    width: 272px;
    margin-right: 0px;
}
.four_wrapper > img{
        max-width: 100%;
}
.four_wrapper >.four {
}
.four_wrapper >.four > p {
    font-family: m300;
}
.four_wrapper >.four > h4 {
    font-family: m500;
}
.four_wrapper >.four > a{
    text-decoration: none;
    background: #463f3a;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    display: block;
    text-align: center;
    padding: 10px 20px;
    font-size: 25px;
}


.blog_wrapper {
   margin-bottom: 20px;
}
.blog {
}
.five_wrapper {
    width: 373px;
    margin-right: 30px;
}
.five_wrapper:last-child {
    width: 373px;
    margin-right: 0px;
}
.five_wrapper > img {
    max-width: 100%;
	 border-radius: 100%;
}
.five_wrapper >.five {
        background: white;
        padding: 5px 0px 30px;
}
.five_wrapper >.five > h4 {
    font-family: m500;
    margin: 0;
    padding: 10px 0;
}
.five_wrapper >.five > p {
    font-family: m500;
    margin: 0;
    padding-bottom: 10px;
    font-size: 15px;
}
.five_wrapper >.five > a {
    color: #f55856;
    font-family: m500;
    text-decoration: none;
}


.footer_top_wrapper {
    margin-top:10px;
    background:#eee;
    padding: 40px 0;
}
.footer_top {
        text-align: center;
}
.footer_top > h1{
    font-family: "Oswald", sans-serif;
    margin: 0;
    font-weight: bold;
    font-size: 35px;
    line-height: 60px;
}
.footer_top > p{
    margin: 0;
    font-family: m300;
}
.footer_top > p > a{
    text-decoration: none;
    color: #FF6666;
    font-weight: bold;
}

.footer_bottom_wrapper {
}

.footer_bottom {
}

.social {
    padding-top: 10px;
}
.social > ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.social > ul > li{
    display: inline-block;
    margin-right: 15px;
}
.social > ul > li > a{
}
.copyright {
}
.copyright > p{
    font-size: 14px;
    font-family: m300;
}
.copyright > p > a{
    text-decoration: none;
    color: #f55856;
    font-family: m500;
}


nav {
    float: left;
    max-width: 200px;
    margin: 0;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
   
nav ul a {
    text-decoration: none;
}

article {
    margin-left: 200px;
    border-left: 5px solid gray;
    padding: 5em;
    overflow: hidden;
}

table {
    border-collapse: collapse;
	
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}

.phone > h1 {
	text-align: center;
	text-transform: uppercase;
	color: #FF6666;
	
}


input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
	margin-right:200px;
}


.dropbtn {
    background-color: #FF6666;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FF6666
}

.order_submit{
    float:right;
}

td> input{
    padding: 5px;
   width:100px;
}

.product-image-form img{
    width:200px;
}